server:
  port: 8080
  error:
    include-message: never #never
    include-binding-errors: never #never
    include-stacktrace: never
    whitelabel:
      enabled: false
management:
  endpoints:
    web:
      exposure:
        include: health,info

client:
  feign:
    authentication-service:
      url: ${AUTHENTICATION_SERVICE_URL}
      validate: /validate

spring:
  webflux:
    base-path: /
  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379
  cloud:
    gateway:


      httpclient:
        connect-timeout: 5000
        response-timeout: 7s
      routes:
        #  - id: user-service
        #    uri: http://user-service:8085
        #    predicates:
        #      - Path=/users/**
        - id: mcp-service
          uri: ${MCP_SERVICE_URL}
          predicates:
            - Path=/mcpserver/**
          filters:
            - StripPrefix= 1

        - id: notification-service
          uri: ${NOTIFICATION_SERVICE_URL}
          predicates:
            - Path=/notification/**
          filters:
            - StripPrefix= 1
            - PreserveHostHeader

        - id: account-service
          uri: ${ACCOUNT_SERVICE_URL}
          predicates:
            - Path=/account/**
          filters:
            - StripPrefix= 1

        - id: atm-reporting-service
          uri: ${ATM_REPORTING_SERVICE_URL}
          predicates:
            - Path=/atm/**
          filters:
            - StripPrefix= 1

        - id: invoice-service
          uri: ${INVOICE_SERVICE_URL}
          predicates:
            - Path=/invoice/**
          filters:
            - StripPrefix= 1

        - id: transaction-service
          uri: ${TRANSACTION_SERVICE_URL}
          predicates:
            - Path=/transaction/**
          filters:
            - StripPrefix= 1

        - id: authentication-service
          uri: ${AUTHENTICATION_SERVICE_URL}
          predicates:
            - Path=/authentication/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 5       # saniyede 5 istek
                redis-rate-limiter.burstCapacity: 10      # maksimum 10 istek anlık
                key-resolver: "#{@userHeaderKeyResolver}"       # kullanıcıya göre sınır
            #- name: CircuitBreaker
            #  args:
            #    name: authServiceCircuitBreaker
            #    fallbackUri: forward:/fallback/authentication
            #    statusCodes: 500,502,503,504
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials Access-Control-Allow-Headers Access-Control-Allow-Methods
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "${FRONTEND_URL:http://localhost:3000}"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

  application:
    name: api-gateway
  main:
    banner-mode: off

logging:
  file:
    name: logs/api-gateway.log
  level:
    com.modernbank.api_gateway: INFO
    org.springframework.cloud.gateway: INFO
